.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  align-content: stretch;

}

ul {
  display: none;
}

.logo {
  height: 50px;
}

.left-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;

}

.mid-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.right-nav {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  padding: 20px 15px;
  border-radius: 5px;
  border: 2px solid #000;
  color: #0066cc;
  background-color: #fff;
  &:hover {
    background-color: #0066cc;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
  }
}


.sign-up-button {
  padding: 20px 15px;
  border-radius: 5px;
  background-color: #0066cc;
  color: #fff;
  border: 2px solid #fff;
  &:hover {
    border: 2px solid #000;
    color: #0066cc;
    background-color: #fff;
    cursor: pointer;
  }
}
